
<mat-card class="example-card">
    <mat-card-header>
       
        <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
<div style="text-align: end; padding-top: 5px; padding-bottom: 5px;">
    <button mat-raised-button  color="primary" (click)="backtoForm()">Back</button>
</div>
<form autocomplete="off" novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="userId" value="service.formData.userID" />
    <div class="form-group">
        <label>FirstName <span *ngIf="firstName.errors?.required" style="font: bold;">*</span></label>
        <input class="form-control form-control-lg" placeholder="First Name" name="firstName" #firstName="ngModel"
            [(ngModel)]="service.formData.firstName" required maxlength="50" minlength="1"
            [class.invalid]="firstName.invalid && firstName.touched">
            <div><span style="color:red" *ngIf="service.formData.firstName?.length == 50">
                 Maximum 50 characters allowed
          </span></div>
    </div>

    <div class="form-group">
        <label>Last Name <span *ngIf="lastName.errors?.required" style="font: bold;">*</span></label>
        <input class="form-control form-control-lg" placeholder="Last Name" name="lastName" #lastName="ngModel"
            [(ngModel)]="service.formData.lastName" required maxlength="50" minlength="1"
            [class.invalid]="lastName.invalid && lastName.touched">
           <div><span style="color:red" *ngIf="service.formData.lastName?.length == 50">
            Maximum 50 characters allowed
      </span></div>
    </div>

      <div [formGroup]="myGroup">
        <mat-form-field>
          <input matInput formControlName="dateFormCtrl" [matDatepicker]="picker"  
            placeholder="Date Of Birth" readonly [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>

</mat-card-content>
</mat-card>