<button mat-raised-button color="primary" (click)="createForm()">Create</button>
<mat-card class="example-card">
    <mat-card-header>
       
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr *ngFor="let pd of service.list">
                <td>{{pd.firstName}}</td>
                <td>{{pd.lastName}}</td>
                <td> {{ pd.dob | date:'shortDate' }} </td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="populateForm(pd.userID)"></i>
                </td>
                <td>
                    <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.userID)"></i>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>